.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    align-items: center;
    padding: 0 32px;
    position: sticky;
    top: 0;
    max-width: 100%;
    height: 88px;
    background: #333333;
}

.header__title {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 32px;
    color: #FFFFFF;
    flex: none;
}

.header__button-login {
    cursor: pointer;
    border: none;
    align-items: center;
    padding: 8px 16px;
    background: #FF5500;
    border-radius: 8px;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.header__buttons {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.header__button-logout {
    cursor: pointer;
    align-items: center;
    padding: 8px 16px;
    background: none;
    border-radius: 8px;
    border: 1px solid #FF5500;
    font-weight: 500;
    font-size: 14px;
    text-align: center;
    color: #FF5500;
}

.header__button-profile {
    cursor: pointer;
    border: none;
    background: none;
}